*{
    margin: 0;
    padding: 0;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.img{
    max-width: 100%;
}
.a{
    text-decoration: none;
}
.mid-content{
    max-width: 1300px;
    margin: auto;
}

/* begain main css */
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}
.header-section{
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.header-section a{
    color: #010101;
}
.header-logo{
    width: 30%;
}
.logo img{
    width: 60px;
    float: left;
    margin-right: 10px;
}
.logo span{
    display: inline-block;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
}
.header-menu{
    width: 60%;
}
.header-batton{
    width: 10%;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;

}
.primary-menu ul li a:hover{}

.header-btn{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #6278df;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 5px;
    color: #6278df !important;
    font-size: 20px;
    font-weight: 600;
}

/* dropdown menu */
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background-color: white;

    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

/* banner section css */
.banner-section{
    background: url(images/02.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 0;
}
.banner-content{
    text-align: center;
    color: white;
}
.banner-content h2{
    font-size: 60px;
    padding: 10px;
    margin-bottom: 5px;
}
.banner-content h3{
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}

.default-batton{
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color: #6278df;
    padding: 15px 20px;
    margin: 10px;
}