*{
    margin: 0;
    padding: 0;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.img{
    max-width: 100%;
}
.a{
    text-decoration: none;
}
.mid-content{
    max-width: 1300px;
    margin: auto;
}

/* begain main css */
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}
.header-section{
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}
.header-section a{
    color: #010101;
}
.header-logo{
    width: 30%;
}
.logo img{
    width: 60px;
    float: left;
    margin-right: 10px;
}
.logo span{
    display: inline-block;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
}
.header-menu{
    width: 60%;
}
.header-batton{
    width: 10%;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;

}
.primary-menu ul li a:hover{}

.header-btn{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #6278df;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 5px;
    color: #6278df !important;
    font-size: 20px;
    font-weight: 600;
}

/* dropdown menu */
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background-color: white;

    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

/* banner section css */
.banner-section{
    background: url(images/02.jpg) no-repeat center;
    background-size: cover;
    padding: 220px 0;
    color: white;
    margin-top: 60px;
}
.banner-content{
    text-align: center;
}
.banner-content h2{
    font-size: 60px;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: 400;
}
.banner-content h3{
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}

.default-batton{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    color: grey;
    background-color: white;
    padding: 15px 20px;
    margin: 10px;
    font-weight: 600;
}

/* banner-bottom */

.banner-bottom{
    background-color: white;
    padding: 120px 0;
}
.video-left{
    width: 48%;
}
.video-content-right{
    width: 48%;
}
.video-content-right h3 {
    font-size: 40px;
    margin-bottom: 15px;
}
.video-content-right p {
    font-size: 20px;
    color: grey;
    line-height: 1.7em;
}

/* service-section */
.service-section{
    background-color: white;
    padding: 100px 0;
}
.service-title{}
.service-title h1{
    font-size: 60px;
    font-weight: 600;
}
.service-title p{
    font-size: 25px;
    color: grey;
    margin-top: 30px;
}

/* service-items */

.service-items{
    margin-top: 90px;
}
.service-box{
    width: 31%;
    box-shadow: 4px 4px 20px black;
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 25px;
    box-sizing: border-box;
}
.service-icon{
    width: 60px;
    float: left;
    height: 150px;
    font-size: 45px;
    color: #6278df;
    margin-right: 10px;
}
.service-content{
    /* margin-top: 8px; */
}
.service-content h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}
.service-content p{
    color: grey;
    font-size: 20px;
    line-height: 1.6em;
}