
.header{
    background: #3498db;
}
img{
    max-width: 100%;
}
.header-logo img{
    width: 70px;
    margin-bottom: auto;
}
.primary-menu{
    
    
}
.primary-menu ul{
    text-align: right;
margin-bottom: 0px;
}
.primary-menu ul li{
    display: inline-block;
    border-right: 1px solid whitesmoke;
    margin-left: -4px;
}
.primary-menu ul li a{
    display: block;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;

}
.primary-menu ul li a:hover{
    background: #2980b9;
}
