*{
    margin: 0;
    padding:0;
}
.heaer-menu{
    background-color: rgb(6, 124, 124);
}
.heaer-menu ul{
    text-align: center;
}
.heaer-menu ul li{
    display: inline-block;
    margin-left: -5px;
}
.heaer-menu ul li:first-child a{
    border-left: 1px solid lightcyan;
}
.heaer-menu ul li a{
    color: white;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid lightcyan;
}
.heaer-menu ul li a:hover{
    background-color: lightskyblue;
}