*{
    margin: 0;
    padding: 0;
}
.header-menu{
    background: rgb(0, 92, 128);
}
.header-menu ul{
    text-align: center;
}
.header-menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-menu ul li:first-child a{
    border-left: 1px solid whitesmoke;
}
.header-menu ul li a{
    font-size: 20px;
    color: white;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid whitesmoke;
    

}
.header-menu ul li:hover > a{
    background-color: rgb(151, 188, 209);
}
/* dropdown-part */
.header-menu ul li{
    position: relative;
}

.header-menu ul li ul{
    position: absolute;
    top: 100%;
    border-top: 1px solid whitesmoke;
    left: 0;
    width: 300px;
    background-color:rgb(0, 92, 128);
   
}
.header-menu ul li ul li{
    display: block;
    margin-left: 0;
    
}
.header-menu ul ul li:first-child a{
    border-left: none;
}
.header-menu ul li ul li a{
    display: block;
    border: none;
    border-bottom: 1px solid whitesmoke;
    }
    /* hover part */
    .header-menu ul li ul{
    opacity: 0;
    visibility: hidden;
    }
    .header-menu ul li:hover ul{
     opacity: 1;
     visibility: visible;
    }