*{
    margin: 0;
    padding: 0;
}
.header-menu{
    background: rgb(0, 92, 128);
}
.header-menu ul{
    text-align: center;
}
.header-menu ul li{
    display: inline-block;
    margin-left: -4px;
    position: relative;
  
}
.header-menu ul li:first-child a{
    border-left: 1px solid whitesmoke;
}
.header-menu ul li a{
    font-size: 20px;
    color: white;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid whitesmoke;
    

}
.header-menu ul li a:hover{
    background-color: gray;
}
/* dropdown-part */

.header-menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background:rgb(0, 92, 128);
}
.header-menu ul li ul li{}
.header-menu ul li ul li a{}